@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}
.box{
    margin: 100px auto;
    padding: 50px ;
    background-color:  hsl(217, 19%, 24%);
    width: 60%;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.box .num-advice{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
}
.box .advice{
    color: hsl(193, 38%, 86%);
    line-height: 1.7;
    margin-top: 15px;
    font-size: 28px;
    font-weight: 800;
}
.box .line{
    margin: 15px auto;
    width: 80%;
}
.box .btn {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    bottom: -10%;
    left: calc(50% - 25px);
}
.box .btn:hover{
    box-shadow: 0 0 25px 0 hsl(150, 100%, 66%);
}
@media  (max-width: 425px){
	.box{
        width: 375px;
    }
}